<div id="content" class="bg-light card my-3 mx-4" style="min-height: 80vh">
  <div class="pt-2 mt-2 mx-3">
    <h3 *ngIf="!editMode">Add surah</h3>
    <h3 *ngIf="editMode">Edit surah</h3>
  </div>
  <div class="container">
    <form [formGroup]="addForm">
      <div class="modal-body form-group">
        <div class="position-relative">
          <div class="mb-0 fv-row">
            <div class="row">
              <mat-form-field>
                <mat-label class="col-lg-5 mb-2 col-form-label required fw-bold fs-6">
                  Title
                </mat-label>
                <span class="col-12">
                  <input name="name" formControlName="name" type="text" class="form-control form-control-lg"
                    placeholder="Name" matInput minlength="2" maxlength="151" required [(ngModel)]="surah.name" />
                </span>
                <mat-error *ngIf="addForm.controls['name'].errors?.['required']">
                  Arabic Name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label class="col-lg-5 mb-2 col-form-label required fw-bold fs-6">
                  Description
                </mat-label>
                <span class="col-12">
                  <input name="description" formControlName="description" type="text"
                    class="form-control form-control-lg" placeholder=" Description" required matInput [(ngModel)]="surah.description" />
                </span>
                <mat-error *ngIf="addForm.controls['description'].errors?.['required']">Description required</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-label class="col-lg-5 mb-2 col-form-label required fw-bold fs-6">
                Surah File
              </mat-label>
              <span class="col-12">
                <input type="file" accept=".mp3" (change)="handleFileInput($event)">
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="form-footer d-flex justify-content-end">
        <button class="btn btn-dark m-2 p-3 fs-6 cursor-pointer" (click)="addSurah()">
          {{ editMode ? "Edit" : "Add" }}
        </button>
      </div>
    </form>
  </div>
</div>
