<mat-toolbar
  mode="top"
  class="position-fixed w-100 bg-dark"
  style="z-index: 99 !important; height: 50px !important"
  ><app-toolbar [inputSideNav]="sidenav"></app-toolbar
></mat-toolbar>

<div class="container-fluid m-0 p-0">
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="side"
      style="margin-top: 60px !important"
      class="position-fixed m-2 rounded"
      opened
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="pt-5">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
