<div id="content" class="bg-light card my-3 mx-4" style="min-height: 80vh">
  <div class="pt-2 mt-2 mx-3">
    <h3 *ngIf="!editMode">Add Doaa</h3>
    <h3 *ngIf="editMode">Edit Doaa</h3>
  </div>
  <div class="container">
    <form [formGroup]="addForm">
      <div class="modal-body form-group">
        <div class="position-relative">
          <div class="mb-0 fv-row">
            <div class="row">
              <mat-form-field>
                <mat-label
                  class="col-lg-5 col-form-label required fw-bold fs-6 mb-2"
                >
                  Name
                </mat-label>
                <span class="col-12 mb-3">
                  <input
                    name="name"
                    formControlName="name"
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="Name"
                    required
                    matInput
                  />
                </span>
                <mat-error
                  *ngIf="addForm.controls['name'].errors?.['required']"
                >
                  Name is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer d-flex justify-content-end">
        <button
          [disabled]="!addForm.valid"
          class="btn btn-dark m-2 p-3 fs-6 cursor-pointer"
          (click)="addDoaa()"
        >
          {{ editMode ? "Edit" : "Add" }}
        </button>
      </div>
    </form>
  </div>
</div>
